<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <ModulePaths>
      <Exclude>
        <ModulePath>.*BexioOrderImport\.Tests.*</ModulePath>
      </Exclude>
    </ModulePaths>
    <Functions>
      <Exclude>
        <Function>.*BexioOrderImport\.Wpf\.Views\..*</Function>
        <Function>.*BexioOrderImport\.Wpf\.Converters\..*</Function>
        <Function>.*BexioOrderImport\.Wpf\.Helpers\.WindowHelper.*</Function>
        <Function>.*BexioOrderImport\.Wpf\.App.*</Function>
        <Function>.*BexioOrderImport\.Wpf\.Resources\..*</Function>
        <Function>.*XamlGeneratedNamespace\..*</Function>
      </Exclude>
    </Functions>
  </CodeCoverage>
</Configuration>
